<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-12-02T04:18:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/zhengchenhao/Desktop/MyCode/vg101/project3/project3.xcodeproj</string>
</dict>
</plist>
